<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ElixirLibs</title>
    <meta content="Curated libraries by category" name="description">
    <link href="//fonts.googleapis.com/css?family=Bitter|Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>
    <nav>
      <h1>ElixirLibs</h1>
    </nav>

    <main>

    <div id="form-wrapper">
      <form>
        <input type="text" placeholder="Search for libraries">
      </form>

      <div id="sections-nav">
        <%= for {section, i} <- Enum.with_index(@sections) do %>
          <a href="#section-<%= i %>" class='section'><%= section.section_name %></a><%= if i < length(@sections)-1 do %>
            <code class="separator">|></code>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="sections">

      <%= for {section, i} <- Enum.with_index(@sections) do %>
        <div class="section" id="section-<%= i %>">
          <h2 class="section-name"><%= section.section_name %></h2>

          <%= for category <- section.list do %>
            <div class="category">
              <h5 class="category-name"><%= category.name %></h5>

              <%= for {entry, j} <- Enum.with_index(category.entries) do %>
                <% is_main = j === 0 %>
                <div class="<%= if is_main, do: "main", else: "alt" %>">
                  <% icon_name = if entry.type === :elixir, do: "ex", else: "erl" %>
                  <% size_px = if j === 0, do: 20, else: 20 %>

                  <img src="img/<%= icon_name %>.png" width="<%= size_px %>" height="<%= size_px %>" class="icon-<%= entry.type %>"><a href="<%= entry.url %>" class="project-link <%= if is_main, do: "main", else: "alt" %>">
                    <%= entry.name %>
                  </a>
                </div>
              <% end %>

            </div>
          <% end %>

        </div>
      <% end %>
      </main>
    </div>
  </body>
</html>
