<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Elixir Toolbox</title>
    <meta content="Curated libraries by category" name="description">
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>
    <h1>The Elixir Toolbox</h1>
    <div id="sections-nav">
      <%= for {section, i} <- Enum.with_index(@sections) do %>
      <div class="section">
        <a href="#section-<%= i %>">
          <%= section.section_name %>
        </a>
      </div>
      <% end %>
    </div>

    <div id="sections">
      <%= for {section, i} <- Enum.with_index(@sections) do %>
      <div class="section">
        <h2><%= section.section_name %></h2>
        <%= for category <- section.list do %>

          <h5><%= category.name %></h5>
          <%= for entry <- category.entries do %>
            <div class="entry">
              <a href="<%= entry.url %>">
                <%= icon_name = if entry.type === :elixir, do: "ex", else: "erl" %>
              </a>
              <img src="img/<%= icon_name %>.png" width="16" height="16" class="icon-<%= entry.type %>">
              <%= entry.num %> <%= entry.type %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </body>
</html>
